.homefooter{
    margin-top: 100px;
    background-color: #D6EBF2;
    height: 400px;
}

.homefooter_detail{
    padding-top: 3rem;
}

.homefooter_detail h1{
    font-size: 40px;
}

.homefooter_detail h3{
    font-size: 20px;
    font-weight: 400;
}

.homefooter_detail button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: transform 0.3s ease;
}

.homefooter_detail button:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}