/* Main container to use Flexbox */
.webgrow-container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Left side styles */
  .webgrow-left {
    width: 45%;
  }
  
  .webgrow-left h1 {
    font-size: 35px;
    line-height: 1.5;
  }
  
  .webgrow-left h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
  }
  
  /* Right side styles */
  .webgrow-right {
    width: 45%;
  }
  
  .webgrow-item {
    display: block;
    margin-bottom: 30px;
  }
  
  .webgrow-item h2 {
    display: inline;
    vertical-align: middle;
    margin: 0;
    font-size: 20px;
  }
  
  .webgrow-item h5 {
    margin: 5px 0 0 34px; /* Added left margin to align paragraphs under heading */
    font-size: 15px;
    line-height: 1.6;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .webgrow-container {
      flex-direction: column;
      align-items: center;
    }
  
    .webgrow-left, .webgrow-right {
      width: 100%;
      text-align: center;
    }

    .webgrow-right{
        margin-top: 4rem;
    }
  }
  